body{
    position: relative;
    margin: 0%;
    padding: 0px;
    background-color: aliceblue;
}

body, html {
    overflow-x: hidden;
    }

*>*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* ................. navbar ................. */ 

#main-menu {
    position: inherit;
    img {
        width: 100%;
        padding: 0% 20%;
    }

}


/* ................. /navbar ................. */ 

/* ................. home .................... */ 

#card-container {
    margin: 45px 2%;
}

#cards{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.home-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    font-size: 2.125rem;
    color: #000;
}


.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  }
  
  .recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  }
  
  .deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  }
  #countries{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }
  .chart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 0px auto;
  }
/* ................. /home ................. */ 


/* ................. Footer .................. */ 

#main-footer {
    box-shadow: 0px 1px 3px -1px #464545;
    position: sticky;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#main-footer .footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ................. /Footer ................. */ 
